@page "/user-quizzes"
@using QuizCreatorWeb.Data
@using QuizCreatorWeb.Data.Dto
@inject QuizService QuizService
@inject NavigationManager NavigationManager
@inject AuthService AuthenticationService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<h3>Your Quizzes</h3>

<button class="create-button" @onclick="NavigateToCreateQuiz">Create New</button>

@if (Model == null)
{
    <p>Loading...</p>
}
else if (!Model.Any())
{
    <p>You have no quizzes yet.</p>
}
else
{
    <div class="quiz-container">
        @foreach (var quiz in Model)
        {
            <div class="quiz-card">
                <div class="quiz-info">
                    <strong>@quiz.Title</strong>
                    <p>@quiz.Description</p>
                </div>
                <button class="edit-button" @onclick="() => EditQuiz(quiz.Id)">Edit</button>
                <button class="view-button" @onclick="() => NavigateToResponses(quiz.Id)">Responses</button>
                <button class="delete-button" @onclick="() => DeleteQuiz(quiz.Id)">Delete</button>
            </div>
        }
    </div>
}

@code {
    private List<QuizDto>? Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await QuizService.GetUserQuizzes();
    }

    private void EditQuiz(int quizId)
    {
        NavigationManager.NavigateTo($"/questions-list/{quizId}");
    }

    private async Task DeleteQuiz(int quizId)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", new object[] { $"Are you sure you want to delete this quiz?" });
        if (confirmed)
        {
            await QuizService.DeleteQuiz(quizId);
            Model = await QuizService.GetUserQuizzes();
        }
    }

    private void NavigateToAccessDenied()
    {
        NavigationManager.NavigateTo("/access-denied");
    }

    private void NavigateToCreateQuiz()
    {
        NavigationManager.NavigateTo("/create-quiz");
    }

    private void NavigateToResponses(int quizId)
    {
        NavigationManager.NavigateTo($"/quiz-responses/{quizId}");
    }
}