<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Quiz Creator</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> <strong>Home</strong>
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin,User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="user-quizzes">
                        <span class="bi bi-plus-square-fill" aria-hidden="true"></span> <strong>My Quizzes</strong>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="all-quizzes">
                        <span class="bi bi-plus-square-fill" aria-hidden="true"></span> <strong>All Quizzes</strong>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/users">
                        <span class="bi bi-person-badge-fill" aria-hidden="true"></span> <strong>Users</strong>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

